# Merge the Transformed Data Sets

In [1]:
import pandas as pd

Let's make sure we're confident of the results by using the results of the transforming saved into CSV files to work on merging them!

In [2]:
# Import the cleaned datasets from CSV files into DataFrames
transactions = pd.read_csv(
    "../tests/test_data/expected_transactions_clean_results.csv"
)

customers = pd.read_csv(
    "../tests/test_data/expected_customers_clean_results.csv"
)

The let's perform the merge based on the `customer_id`

In [3]:
merged = pd.merge(transactions, customers, on="customer_id")

# View the first few rows of the merged DataFrame
merged.head()

,transaction_id,customer_id,transaction_date,amount,name,country,is_active
0,3950,3554,05/03/2024,62.14,Carl Gill,Italy,True
1,2602,1100,03/01/2024,238.18,Warren Schultz,Canada,False
2,1776,3641,16/10/2024,43.86,Meagan Smith,Germany,True
3,3444,1192,06/03/2022,57.48,Michelle Floyd,UK,False
4,406,4986,19/10/2024,107.35,Jose Hardy,Spain,True

There should be no duplicates - but let's check

In [4]:
duplicates = merged[merged.duplicated()]

duplicates

Empty DataFrame
Columns: [transaction_id, customer_id, transaction_date, amount, name, country, is_active]
Index: []

And now we're happy, lets export the result of the merge into a CSV file so we can test against it in the pipeline (and use it in our enrich/aggregation step)

In [5]:
merged.to_csv(
    "../tests/test_data/expected_merged_clean_results.csv", index=False
)

---

To preserve the modularity of the code, we'll do the wrangling of the high-value customers in a separate notebook - we'll use the exported CSV in there too!